.navbar {
  max-height: 70px;
  background-color: #ff9000;
}

.navbar-logo {
  width: 150px;
}

.input-group {
  border-radius: 10px;
}

.input-group .form-control {
  background-color: #f8f9fa;
}

.carrito-navbar {
  width: 3rem;
  height: 3rem;
  position: relative;
  color: black !important;
  border: none !important;
  background-color: transparent !important;
}

.carrito-navbar-cantidad {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}

@media (max-width: 991px) {
  .navbar {
    max-height: min-content;
  }

  .navbar-logo {
    width: 120px;
  }
}