.nav-cocina {
    background-color: #FF9E00;
    min-width: 770px;
}
#basic-navbar-nav{
    justify-content: center;
}

#nav-boton-pedido, #nav-c-drop-s, #nav-c-drop-r{
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-boton-pedido{
    background-color: #FF9E00;
    border: none;
    text-align: left;
}
